version: '3.8'

services:
  # Service 1 : LLM Engine
  ollama:
    image: ollama/ollama:latest
    container_name: startguide_ollama
    restart: always
    volumes:
      - ollama_storage:/root/.ollama  # Volume dédié aux modèles (Mistral)
    ports:
      - "11434:11434"
    networks:
      - rag_network

  # Service 2 : RAG Backend
  app_rag:
    build: .
    container_name: startguide_backend
    depends_on:
      - ollama
    volumes:
      - ./data:/app/data             # Montage des PDF (Lecture seule recommandée en prod)
      - chroma_storage:/app/chroma_db # Volume dédié à la base vectorielle persistante
      # On garde le montage du code pour le dev (à retirer en prod)
      - ./app:/app/app
    environment:
      - OLLAMA_BASE_URL=http://ollama:11434
      - CHROMA_DB_DIR=/app/chroma_db
    ports:
      - "8000:8000"
    command: ["uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "8000", "--reload"]
    networks:
      - rag_network

# Définition des volumes persistants
volumes:
  ollama_storage:
  chroma_storage:

# Réseau isolé
networks:
  rag_network:
    driver: bridge